{% extends 'base.html.twig' %}

{% block title %}Mon compte | Ma boutique Symfony
{% endblock %}

{% block body %}
	<a href="{{ path('account_password') }}">Modifier mon mot de passe</a>
	<main>
		<!-- sidebar navigation -->
		<div class="sidebar">
			<ul>
				<div class="student-avatar-container">
					<li class="student-avatar-dashboard">
					
							<img src=" {{ asset('uploads/logo/' ~ app.user.logo) }}" alt="avatar-student">
					


					</li>
				</div>
				<div class="center-icons-dashboard">
					<li class="home-icon">
						<a href="dashboard_student_home.html">
							<i class="far fa-bell"></i>
						</a>
					</li>
					<li class="message-icon">
						<a href="dashboard_student_message.html">
							<i class="far fa-bell"></i>
						</a>
					</li>
					<li class="bell-icon">
						<a href="#">
							<i class="far fa-bell"></i>
						</a>
					</li>

					<li>
						<a href="{{ path('app_logout') }}"><img src=" {{ asset('assets/svg/iconnavdashboard/deconnexion.svg') }}" alt="deconnexion" id="logout-icon"></a>
					</li>

				</div>
			</ul>
		</div>
		<!-- end of sidebar navigation  -->
		<!-- dashboard body -->
		<div class="dashboard-partition">
			<div class="dash-partition-header">
				<div class="partition-header-profil">
					<h4>Hello
						{{ app.user.username}}
					</h4>
					<h5>Profil renseigné à 80%</h5>
					<p>barre de chargement</p>
					<h6>
						<a href="{{ path('company_edit_profil') }}">Consulter mon profil</a>
					</h6>
				</div>
				<div class="partition-header-date">
					<h4>Date de stage recherché</h4>
					<h5>Du 13 Janvier au 30 Avril</h5>
					<h6>
						<a href="#">Modifier</a>
					</h6>
				</div>
				<div class="partition-header-status">
					<h4>Date de stage recherché</h4>
					<h5>Du 13 Janvier au 30 Avril</h5>
					<h6>
						<a href="#">Modifier</a>
					</h6>
				</div>
			</div>
			<div class="dash-partition-cv-lm">
				<div class="partition-cv">
					<h4>Mon CV</h4>
					<h5>Mise à jour le 02/12/2021</h5>
					<h6>
						<a href="#">Voir</a>
					</h6>
					<h6>
						<a href="#">Modifier</a>
					</h6>
				</div>
				<div class="partition-lm">
					<h4>Mon CV</h4>
					<h5>Mise à jour le 02/12/2021</h5>
					<h6>
						<a href="#">Voir</a>
					</h6>
					<h6>
						<a href="#">Modifier</a>
					</h6>
				</div>
			</div>
	   <!-- students sections-->
    <section class="content" id="profiletudiants">
        <div class="container">
            <div class="row rowcards">
                <a href="#">
                    <h2>Etudiants Adoptés</h2>
                </a>
                  {% for student in app.user.adoptions  %}
                <div class="card" style="width: 18rem;">
                   <a href="{{ path('student', {'firstname' : student.firstnameStudent}) }}"><img class="card-img-top" src="{{ asset('uploads/photo/' ~ student.photoStudent) }}" alt="Card image cap"></a> 
                    <div class="card-body">
                        <p class="card-text">{{ student.firstnameStudent}}
                        
                        </p>
                    </div>
                </div>
                  {% endfor %}
            </div>
        </div>
    </section>
		<!-- end of dashboard body  -->
	</main>



{% endblock %}
